* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1d1d1b;
}

p,
h1,
a,
button,
input,
li {
    color: #fff;
}

h1 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}

button {
    cursor: pointer;
}

p,
a,
button,
li,
input {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}


header,
footer {
    background: #1d1d1b;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.logo-container {
    display: flex;
    width: 80%;
    align-items: center;
}

.logo-container img {
    width: 6rem;
}

.logo-container h1 {
    letter-spacing: 0.5rem;
}

.links-container {
    display: flex;
    gap: 1rem;
}

.links-container img {
    width: 3rem;
}

main {
    background-color: #2f2f2f;
    padding: 6rem 0 0;
}

.traffic-light{
    width: 5rem;
    position: absolute;
    left: 90%;
    transform: translateY(-50px);
}

.road-container {
    background-image: url(../images/empty_road.webp);
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    height: 210px;
}

.cars-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 1rem 5rem 1rem 2rem;
    overflow-x: hidden;
    gap: 1rem;
    position: relative;
}

.car {
    flex: 0 0 auto;
    margin: 1rem 2.5rem;
    position: relative;
    left: -100%;
    display: inline-block;
}

.car.animate{
    animation: moveInCars 3s linear forwards;
}

.cars-container svg {
    width: 4rem;
    transform: rotateZ(90deg);
}

@keyframes moveInCars {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.add-car-form {
    padding: 2rem 0 1rem;
}

.remove-car-form {
    padding-bottom: 2rem;
}

.remove-car-form button{
    background-color: #ad1818;
}
.remove-car-form button:hover{
    background-color: #8b1616;
}

.add-button {
    background-color: #b38312;
    border: none;
    border-radius: 0.4rem;
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
}

.add-button:hover {
    background-color: #987217;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.footer-content p {
    font-size: 0.8rem;
}